/* Login Page */
.signinButtons {
  margin-top: 15%;
  text-align: center;
}

#signinButton {
  width: 150px;
  margin: 0 auto;
}

#result {
  margin: 0 auto;
  text-align: center;
}

/* Item page styles */
.item-image {
  width: 50%;
  min-width: 300px;
  height: auto;
}
