<!-- Navbar -->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container">
    <a class="navbar-brand" href="{{ url_for('showCategories' )}}">Item Catalog</a>
    {% if 'username' in login_session %}
    <a href="{{ url_for('gdisconnect') }}">
      <button class="btn btn-danger ml-auto" type="button">Logout</button>
    </a>
    {% else %}
    <a href="{{ url_for('showLogin') }}">
      <button class="btn btn-success ml-auto" type="button">Login</button>
    </a>
    {% endif %}
  </div>
</nav>
