{% extends 'layout.html' %}

{% block body %}

<h2>Edit {{ item.name }}</h2>
<hr>
<form class="m-3" action="{{ url_for('editItem', item_id=item.id, category_id=category_id) }}" method="POST">
  <label for="name">Item name</label>
  <input type="text" class="form-control" name="name" value="{{ item.name }}">
  <br>
  <label for="description">Description</label>
  <textarea name="description" class="form-control" rows="5" id="description">{{ item.description }}</textarea>
  <br>
  <button type="submit" class="btn btn-warning">Save Changes</button>
  <a href='{{url_for('showItemList', category_id=category_id )}}'>Cancel</a>
</form>

{% endblock %}
